/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/ Provide sufficient contrast against white background /
a {
    color: #cc0000;
}

.btn-primary {
    color: #fff;
    background-color: #cc0000;
    border: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2
}

/ Sticky footer styles
-------------------------------------------------- /
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/ Sticky footer styles
-------------------------------------------------- /
html {
    position: relative;
    min-height: 100%;
}

body {
    / Margin bottom by footer height / margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    / Vertically center the text there */
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.column {
    float: left;
    width: 33.33%;
    height: auto;
}

img {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.equipment {
    box-sizing: border-box;
    height: calc(33.33% - 6.66px);
    width: calc(100% - 10px);
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    display: table;
}

.itemInShop {
    padding:10px;
    float: left ;
       -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-right: 10px;
    min-width: 200px;
    background-color: white;
    margin-bottom:20px;
}
.shopknop {
    width:100%;
    background-color:green;
    border:none;
}

.error {
    color: white;
    background-color: #cc0000;
    padding: 5px;
    border-radius: 10px;
}